.allTime {
     position: absolute;
     height: 100%;
     width: 100%;
     text-align: "center";
     transition: "0.2 all";
     background-image: url("./images/giphy.gif") !important;
     background-position: center;
     background-repeat: round;
     background-size: auto;
     font-family: var(--font);
}

.dayTime {
     background-color: #76b9bf;
     color: #e56a77;
}

.nightTime {
     background-color: #002e4e;
     color: #edc951;
}
