:root {
     --main-border-radius: 12px;
     --height: 730px;
     --width: 411px;
     --font: "Comic Sans MS", sans-serif;
     --black: #292929;
     --red: #e56a77;
     --red-pressed: #b23946;
     --white: #ffffff;
}

body {
     margin: 0;
     padding: 0;
     font-family: var(--font) !important;
     overflow-x: hidden;
     box-sizing: border-box;
}

h1,
p,
button {
     font-family: var(--font);
}

h1 {
     font-size: 22px;
     font-weight: 700;
     color: var(--black);
     margin: 0;
}

p {
     font-size: 16px;
     font-weight: 300;
     color: rgba(66, 66, 66, 0.39);
     margin: 5px;
}

button {
     border: none;
     cursor: pointer;
     font-size: 18px;
     font-weight: 700;
     color: var(--black);
}

button:focus {
     outline: 0 !important;
}

button:-moz-focus-inner {
     border: 0;
}

.allTime {
     position: absolute;
     height: 100%;
     width: 100%;
     text-align: "center";
     transition: "0.2 all";
     background-image: url("./images/giphy.gif") !important;
     background-position: center;
     background-repeat: round;
     background-size: auto;
     font-family: var(--font);
}

.dayTime {
     background-color: #76b9bf;
     color: #e56a77;
}

.nightTime {
     background-color: #002e4e;
     color: #edc951;
}

.icon {
     margin: 10px;
     display: inline-block;
     color: var(--black);
}

@media (max-width: 400px) {
     :root {
          --height: 100%;
          --width: 100%;
     }

     .card {
          z-index: 99;
     }
}
