.addControls {
     width: 100%;
     height: 100px;
     position: sticky;
     top: 20px;
}

.addControlsLeft {
     position: relative;
     width: 60%;
     float: left;
     margin: 30px;
}

.form {
     position: absolute;
     margin: 20px;
     left: -2000px;
     bottom: 41px;
     color: var(--black);
     transition: left 0.45s cubic-bezier(0.68, -0.55, 0.265, 1.55);
     border-radius: var(--main-border-radius);
}

.input {
     font-size: 20px;
     font-weight: 300;
     font-family: var(--font);
}

:focus {
     outline: none;
}

.col3 {
     width: 80%;
     margin: 0 auto;
     text-align: center;
     position: relative;
} /* necessary to give position: relative to parent. */

input[type="text"] {
     font: 15px/24px "Comic Sans MS", sans-serif;
     color: #333;
     width: 100%;
     box-sizing: border-box;
     letter-spacing: 1px;
     background: transparent;
}
input[type="password"] {
     font: 15px/24px "Comic Sans MS", sans-serif;
     color: #333;
     width: 100%;
     box-sizing: border-box;
     letter-spacing: 1px;
     background: transparent;
}

.effect-3 {
     border: 0;
     padding: 5px;
}

.effect-3-Day {
     border-bottom: 3px solid #e56a77;
}

.effect-3-Night {
     border-bottom: 3px solid #edc951;
}

.effect-3 ~ .focus-border {
     position: absolute;
     bottom: 0;
     left: 0;
     width: 100%;
     height: 3px;
     z-index: 99;
}

.effect-3 ~ .focus-border:before,
.effect-3 ~ .focus-border:after {
     content: "";
     position: absolute;
     bottom: 0;
     left: 0;
     width: 0;
     height: 100%;
     background-color: rgb(0, 0, 0);
     transition: 0.4s;
}

.effect-3 ~ .focus-border:after {
     left: auto;
     right: 0;
}

.effect-3:focus ~ .focus-border:before,
.effect-3:focus ~ .focus-border:after {
     width: 50%;
     transition: 0.4s;
}

.plusButton {
     position: absolute;
     right: 40px;
     bottom: 30px;
     height: 60px;
     width: 60px;
     border-radius: 50%;
     text-align: center;
}

.plusButtonDay {
     background-color: #e56a77;
}

.plusButtonNight {
     background-color: #edc951;
}

.plusButtonDay:active {
     background-color: #b23946;
}

.plusButtonNight:active {
     background-color: #c7a821;
}

.plusButton span {
     color: #000;
     font-size: xx-large;
     font-weight: bolder;
}
