.todo {
     padding: 0px;
     padding-top: 30px;
     text-align: center;
     margin: 0px;
     /* position: relative; */
}

.tasksAlert{
     text-align: "center";
      padding-top: 20px ;
      font-size: 22px;
      font-weight: 900;
      text-shadow: 2px 2px 2px #b1b0b0fa;
}

.tasksAlertDay{
     color: #e56a77;
}

.tasksAlertNight{
     color: #edc951;
}

.task {
     position: relative;
     width: 85%;
     border-bottom: 1px solid rgb(234, 234, 234);
     margin: 5px auto;
     height: 100%;
     color: var(--black);
     min-height: 50px;
     overflow-x: hidden;
     transition: margin 0.2s cubic-bezier(0.68, -0.55, 0.265, 1.55),
          box-shadow 0.3s linear, border-radius 0.25s linear;
     font-family: var(--font);
     font-size: 22px;
     font-weight: 300;
     color: #002e4e;
     display: block;
}

.task button {
     padding: 0px;
     background-color: transparent;
     font-family: var(--font);
}

.task:hover {
     /* border: 0px solid var(--black); */
     box-shadow: 0px 50px 50px rgba(0, 0, 0, 0.15);
     border-radius: 30px;
     background-color: #e56a77;
     font-size: 22px;
     font-weight: 700;
}

.task:hover .left {
     /* margin: 12px 0 12px 20px; */
     color: var(--white);
}

.content {
     max-width: 70%;
}

.task:hover .right {
     /* margin: 14px 20px 12px 20px; */
     color: var(--white);
     display: inherit;
}

.task:hover .time {
     display: none;
}

.left {
     float: left;
     margin: 20px 20px;
     list-style: none;
}

.right {
     float: right;
     margin: 24px 24px;
     color: #002e4e;
     /*     display: none; */
}

.right:visited {
     display: none;
}
