body {
     margin: 0;
     font-family: "SansitaSwashed-Black", "SansitaSwashed-Regular",
     "SansitaSwashed-Medium" !important;
     -webkit-font-smoothing: antialiased;
     -moz-osx-font-smoothing: grayscale;
}

code {
     font-family: "SansitaSwashed-Light","SansitaSwashed-SemiBold";
}
