body {
     margin: 0;
     font-family: "IRANSans_Light", "IRANSansDN_Light" !important;
     -webkit-font-smoothing: antialiased;
     -moz-osx-font-smoothing: grayscale;
}

code {
     font-family: "IRANSans_UltraLight";
}
